@import 'bootstrap/bootstrap';
@import "font-awesome/font-awesome";
@import "jquery-ui.min";

.panel-title-icon {
  font-size: 4em;
  background: #f1f1f1;
  border-radius: 50%;
  display: inline-block;
  padding: 15px 20px
}

/** Search **/
.search_account {
  margin-bottom: 20px;

  h3 {
    margin-top: 0;
  }
}

.comments_list .comment {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.repository_detail {
  display: none;
}